#include <winver.h>

IDI_ICON1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "union-crax.xyz"
            VALUE "FileDescription",  "uc-online DLL Injector"
            VALUE "FileVersion",      "2.0.0.0"
#if IS_64BIT
            VALUE "InternalName",     "uc-online64"
#else
            VALUE "InternalName",     "uc-online"
#endif
            VALUE "LegalCopyright",   "veeanti / union-crax.xyz | 2026"
#if IS_64BIT
            VALUE "OriginalFilename", "uc-online64.dll"
#else
            VALUE "OriginalFilename", "uc-online.dll"
#endif
            VALUE "ProductName",      "uc-online"
            VALUE "ProductVersion",   "2.0.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
